<div>
    <h1>Welcome to the Pizza Store</h1>

        <img src="https://i.pinimg.com/originals/a4/36/70/a43670c098fa0835f20ee13da3fe4214.gif"
    alt="pizza image">
  
     <img src="https://img.onmanorama.com/content/dam/mm/en/food/features/images/2021/10/17/pizza.jpg"
     alt="pizza image">
  
     <img src="https://c.tenor.com/h6N7ymQy2_AAAAAC/dominos-pizza.gif"
     alt="pizza image">
     <img src="https://media.istockphoto.com/id/938742222/photo/cheesy-pepperoni-pizza.jpg?s=612x612&w=0&k=20&c=D1z4xPCs-qQIZyUqRcHrnsJSJy_YbUD9udOrXpilNpI="
     alt="pizza image">
     <img src="https://img.freepik.com/free-photo/top-view-pepperoni-pizza-sliced-into-six-slices_141793-2157.jpg?w=2000"
     alt="pizza image">
     <img src="https://media.istockphoto.com/id/938742222/photo/cheesy-pepperoni-pizza.jpg?s=612x612&w=0&k=20&c=D1z4xPCs-qQIZyUqRcHrnsJSJy_YbUD9udOrXpilNpI="
     alt="pizza image">
     <br>
     <h2>---> You need to login to place Orders</h2>
   
</div>