<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>title</mat-card-title>
            <mat-card-subtitle>subtitle</mat-card-subtitle>
        </mat-card-header>
        <img src="https://thumbs.dreamstime.com/b/pizza-pepperoni-cheese-salami-vegetables-58914487.jpg" alt="Pizza Image">
        <mat-card-content>
            content Lorem ipsum dolor sit amet.
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="icon">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button class="icon">
                <mat-icon>bookmark</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>